name: Build for Android

on:
  workflow_dispatch:
    inputs:
      publish:
        description: Artifacts to publish
        required: true
        default: libraries
        type: choice
        options:
          - libraries
          - libraries_headers
          - all_build_products

env:
  CACHE_KEY_SUFFIX: v2

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/${{ github.repository }}:unified

    steps:
      - name: Print environment varariables
        run: env | grep GITHUB | sort

      - uses: actions/checkout@v3

      - name: Export settings from npm package
        run: npm run export_npm_env

      # - uses: actions/cache@v3
      #   with:
      #     path: v8
      #     key: android-v8-${{ env.V8_VERSION }}-${{ env.CACHE_KEY_SUFFIX }}

      - name: Setup V8 build environment
        run: scripts/setup.sh -r ${{ env.V8_VERSION }} android

      - name: Patch V8
        run: scripts/patch.sh android

      # - name: Build V8 arm
      #   run: |
      #     scripts/build.sh -j2 android arm
      #     scripts/archive.sh android arm ${{ inputs.publish }}

      # - name: Build V8 x86
      #   run: |
      #     scripts/build.sh -j2 android x86
      #     scripts/archive.sh android x86 ${{ inputs.publish }}

      - name: Build V8 arm64
        run: |
          scripts/build.sh -j2 android arm64
          scripts/archive.sh android arm64 ${{ inputs.publish }}

      # - name: Build V8 x64
      #   run: |
      #     scripts/build.sh -j2 android x64
      #     scripts/archive.sh android x64 ${{ inputs.publish }}

      - name: Archive
        run: |
          tar -cvf dist.tar dist

      - uses: actions/upload-artifact@v3
        with:
          name: dist-android-${{ env.V8_VERSION }}-${{ inputs.publish }}
          path: dist.tar


###############################################################
# Backup config for triggering arch matrix build
# Archiving is not finished yet.
# Since actions/cache unable to work well, there will be 4 gclient sync.
# It's getting a little waste from network bandwidth.
# That's the main reason not adopted.
###############################################################
# jobs:
#   build-golden:
#     runs-on: ubuntu-latest
#
#     container:
#       image: ghcr.io/${{ github.repository }}:unified
#       env:
#         CACHE_KEY_SUFFIX: v3
#
#     steps:
#       - uses: actions/checkout@v3
#
#       - name: Export settings from npm package
#         run: npm run export_npm_env
#
#       # - uses: actions/cache@v3
#       #   id: v8-source-cache
#       #   with:
#       #     path: v8
#       #     key: android-v8-${{ env.V8_VERSION }}-${{ env.CACHE_KEY_SUFFIX }}
#       #     restore-keys: |
#       #       android-v8-
#
#       - name: Setup V8 build environment
#         run: scripts/setup.sh -r ${{ env.V8_VERSION }} android
#
#       - name: Patch V8
#         run: scripts/patch.sh android
#
#       - name: Build V8 arm
#         run: |
#           scripts/build.sh android arm
#
#       - uses: actions/upload-artifact@v3
#         with:
#           name: build-intl-arm
#           path: build
#
#   build-remains:
#     needs: build-golden
#     runs-on: ubuntu-latest
#
#     strategy:
#       matrix:
#         arch: [arm, x86, arm64, x64]
#
#     container:
#       image: ghcr.io/${{ github.repository }}:unified
#       env:
#         CACHE_KEY_SUFFIX: v3
#
#     steps:
#       - uses: actions/checkout@v3
#
#       - name: Export settings from npm package
#         run: npm run export_npm_env
#
#       # - uses: actions/cache@v3
#       #   id: v8-source-cache
#       #   with:
#       #     path: v8
#       #     key: android-v8-${{ env.V8_VERSION }}-${{ env.CACHE_KEY_SUFFIX }}
#       #     restore-keys: |
#       #       android-v8-
#
#       - name: Setup V8 build environment
#         run: scripts/setup.sh -r ${{ env.V8_VERSION }} android
#
#       - name: Patch V8
#         run: scripts/patch.sh android
#
#       - name: Build V8 arm
#         run: |
#           scripts/build.sh android ${{ env.arch }}
#
#       - uses: actions/upload-artifact@v3
#         with:
#           name: build-${{ matrix.variant }}-${{ matrix.arch }}
#           path: build
