name: iOS build

on:
  workflow_dispatch:
    inputs:
      publish:
        description: Artifacts to publish
        required: true
        default: libraries
        type: choice
        options:
          - libraries
          - libraries_headers
          - all_build_products

jobs:
  build:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v3

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '13.1'

    - name: Export settings from npm package
      run: |
        npm run export_npm_env

    - name: Setup V8 build environment
      run: |
        brew install coreutils ninja
        scripts/setup.sh -r ${V8_VERSION} ios

    - name: Patch V8
      run: |
        scripts/patch.sh ios

    - name: Build V8
      run: |
        scripts/build.sh -j3 ios x64
        scripts/archive.sh ios x64 ${{ inputs.publish }}

    - name: Archive
      run: |
        tar -cvf dist.tar dist

    - uses: actions/upload-artifact@v3
      with:
        name: dist-${{ env.V8_VERSION }}-${{ inputs.publish }}
        path: dist.tar
